In [1]:
s = '{} {} {}'
f = s.format('대건','윤기','찬빈')
print(f)

대건 윤기 찬빈

In [5]:
s = '{}이는 {}번이고 {}에 진학했다'
f = s.format('성곤','30322','오우대학교')
print(f)

성곤이는 30322번이고 오우대학교에 진학했다

In [6]:
name = '성곤'
num = 30322
add = '인천시 남동구'

s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(name,num,add)
print(f)

성곤이는 30322번이고 인천시 남동구에 살고있다

In [7]:
name = input('이름:')
num = input('학번:')
add = input('주소:')

s = ('{}이는 {}번이고 {}에 살고있다')
f = s.format(name,num,add)
print(f)

이름:성곤
학번:30322
주소:남동구
성곤이는 30322번이고 남동구에 살고있다

In [8]:
stu = input('이름 학번 주소:').split()

이름 학번 주소:성곤 30322 남동구

In [9]:
stu

['성곤', '30322', '남동구']

In [10]:
stu[0], stu[1]

('성곤', '30322')

In [11]:
s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(stu[0],stu[1],stu[2])
print(f)

성곤이는 30322번이고 남동구에 살고있다

In [12]:
a = input('음식:')
b = input('갯수:')
c = int(input('돈:'))

d = '{} {}개 값은 {}달라입니다.'
e = d.format(a,b,c*2)
print(e)

음식:삼겹살
갯수:2
돈:244
삼겹살 2개 값은 488달라입니다.

In [13]:
s = '{}이는 {}와 {}이를 좋아한다'
f = s.format('대건','윤기','찬빈')
print(f)

대건이는 윤기와 찬빈이를 좋아한다

In [14]:
info = '%d %s %f'
pr = info%(20, '인천',0.5)
print(pr)

20 인천 0.500000

In [16]:
info = '%d년도 %s여고 %0.2f퍼센트'
pr = info%(20, '인천',0.5)
print(pr)

20년도 인천여고 0.50퍼센트

###[문제2] 햄버거 2개는 8달라이다.

In [20]:
info = '%s %d개는 %d달라이다.'
pr = info%('햄버거',2,2*4)
print(pr)

햄버거 2개는 8달라이다.

List

In [21]:
arr = [1,2,3,4,5]
arr

[1, 2, 3, 4, 5]

In [26]:
arr = ['성곤','대건','대범','호정']
arr

['성곤', '대건', '대범', '호정']

In [23]:
arr[0]

'성곤'

In [27]:
len(arr)

4

In [43]:
for i in range(2,6) :
    print(i)

2
3
4
5

In [32]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [33]:
for i in arr :
    print(i)

성곤
대건
대범
호정

In [37]:
for i in range(len(arr)) :
    print(arr[i])

성곤
대건
대범
호정

In [39]:
for i, val in enumerate(arr) :
    print(i,arr[i])

0 성곤
1 대건
2 대범
3 호정

In [40]:
for i, val in enumerate(arr) :
    print(i+1,'번',val)

1 번 성곤
2 번 대건
3 번 대범
4 번 호정

[문제1] 30부터 50까지 출력해보기

In [44]:
for i in range(30,51) :
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

[문제2] 30부터 50까지 홀수만 출력

In [52]:
for i in range(1,10):
    if i%2!=0:
        print(i)

1
3
5
7
9

[문제3] 30부터 50까지 홀수만 더해서 sum 어쩌고

In [54]:
sum = 0

for i in range(30,51):
    if i%2!=0:
        sum = sum + i   
print(sum)

400

[문제4]

In [60]:
for i in rnage(1,11):
    if i%2!=0:
    print('너도 할 수 있어')
    else
    print('파이썬')

IndentationError: expected an indented block (<ipython-input-60-ae561aff3c4a>, line 3)